*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

.bk-green{
    width: 100%;
    height: 100px;
    background-color:rgb(93, 168, 93)
}

.bk-grey{
    width: 100%;
    background-color: rgb(61, 60, 57);
}